div.centered-img {

	width: 15em;
	margin-top: 0px;
	padding-top: 12em;

}

div.centered-img img {
	width:100%;
	height:auto;
}

div.nav-bar {

	margin-left: 92em;
}



div.nav-bar li {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 	float:left;

}

div.nav-bar li a {


    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 1em;
	color: black;
	text-decoration: none;
	padding-right: 1.2em;
	line-height: 1em;
	outline: medium none;
	vertical-align: middle;
	opacity: 0.75;
	

}
div.nav-bar a:hover {
	opacity: 0.85;
	text-decoration: underline;
}

div.nav-bar a#selectbox img {
	height: 1.8em;
	display: inline-block;

}

div.nav-bar a#selectbox:hover {
	text-decoration: none;
}
div.nav-bar a#signin {
	border: 1px solid #4285F4;
	font-weight: bold;
	outline: medium none;
	background: -moz-linear-gradient(center top , #4387FD, #4683EA) repeat scroll 0% 0% transparent;
	color: #FFF;
	display: inline-block;
	line-height: 28px;
	padding: 0px 12px;
	border-radius: 2px;
	opacity: 100;
}

div.nav-bar a#signin:hover {

	text-decoration: none;
}

div.search_button {

	padding-left: 50em;
	border: medium none;
	margin-top: 1.5em;
}

div.search_button button {
	border: none;
	height: 2.5em;
	width: auto;
	font-size: 0.8em;
	background-color: rgba(87, 87, 87, 0.17);
	opacity: 0.65;
}

div.search_button button:hover {

	border:1px solid rgba(113, 113, 113, 0.34);
	opacity:1;
	color: black;
	
}

div.search_field_div {

	width: 35em;
	text-decoration: none;
	border: 1px solid rgba(80, 80, 80, 0.31);
	height: 2.3em;
}

div.search_field_div input#search_field {
	
	border:none;
	height: 2em;
	width: 36em;
	padding-left: 7px;

}

div.search_box {

    border: 1px solid #FFF;
    padding-left: 40em;
    padding-top: 1em;

}

div.footer_box {
	
	position:fixed;
	margin-top: 33.5em;
	margin-left: -2.7em;
}


div.footer_box ul.footer_list li {
	   list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
 		float:left;

 		text-align: center;
    	text-decoration: none;
		font-family: arial,sans-serif;
		font-size: 1em;
		color: black;
		text-decoration: none;
		padding-right: 1.2em;
		line-height: 1em;
		outline: medium none;
		vertical-align: middle;
		opacity: 0.75;
		background: none repeat scroll 0% 0% #F2F2F2;
		border-top: 1px solid #E4E4E4;
		line-height: 40px;
		
}




div.footer_box ul.footer_list li#right {
	float:left;
	padding-left: 74em;
}

div.footer_box ul.footer_list li a {
	color: #080808;
	opacity: 0.70;
	text-decoration: none;
}

div.footer_box ul.footer_list li a:hover {
	opacity: 0.85;
	text-decoration: underline;
}